Flask==2.0.1
boto3==1.18.69
pymongo==3.12.0
pytesseract==0.3.8
Pillow==8.3.1
yake==0.4.8
pdf2image==1.16.0
spacy==3.1.2
textblob==0.15.3
PyPDF2==1.26.0
wordfreq==2.5.0
nltk==3.6.3
python-dotenv==0.19.0
pycryptodome==3.10.1
flask-cors==3.0.10
